@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root{
     /*===== Colores =====*/
  --dark-yellow-color: #ffae00;
  --black-color: #000000;
  --dark-blue-color: #070D1F;
  --dark-color-alt: #282B3A;
  --white-color: #E6E7E9;
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --z-fixed: 100;
  --header-hight: 3rem;
}
@media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3.5rem;
      --h2-font-size:2rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
    }
}
*, ::before, ::after {
    box-sizing: border-box;
  }
  body {  
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
    padding: 0;
    margin: 0;
    background-color: var(--black-color);
    color: var(--white-color);
  }
ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .section-title{
    position: relative;
    font-size: 1.5rem;
    color: var(--dark-yellow-color);
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--dark-yellow-color);
  }
  .grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .header {
    width: 100%;
    height: 2rem; 
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1.5rem;
    background-color: var(--dark-blue-color);
    z-index: var(--z-fixed);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    color: var(--white-color);
  }
  .toggle {
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
  }
  @media screen and (max-width: 767px) {
    .nav {
      position: fixed;
      top: 0;
      left: -100%;
      background-color: var(--dark-blue-color);
      color: var(--white-color);
      width: 100%;
      height: 100vh;
      padding: 1.5rem 0;
      z-index: var(--z-fixed);
      transition: .5s;
    }
  }
  .nav-content {
    height: 100%;
    row-gap: 2rem;
  }
  .menu {
    position: absolute;
    right: 1.5rem;
    font-size: 1.3rem;
    padding: .25rem;
    background-color: var(--dark-color-alt);
    border-radius: 50%;
    cursor: pointer;
  }
  .img1 {
    width: 46px;
    display: flex;
    justify-content: center;
    padding-top: .25rem;
    margin-bottom: .8rem;
    width: 56px;
    height: 56px;
    background-color: var(--dark-yellow-color);
    border-radius: 50%;
    overflow: hidden;
  }
  img {
    width: 46px;
  }
  .name-m {
    display: block;
    color: var(--white-color);
  }
  .span {
    font-size: var(--small-font-size);
  }
  ul {
    align-self: center;
  }
  li {
    margin: 2rem 0;
  }
  a {
    color: var(--white-color);
  }
  .social {
    padding-top: .5rem;
  }
  .social-icon{
    font-size: 1.2rem;
    color: var(--white-color);
    margin-right: 1rem;
  }
  .social-icon:hover {
    color: var(--dark-yellow-color);
  }
  .show{
    left: 0;
  }
  .active {
    color: var(--dark-yellow-color);
  }
  @media screen and (min-width: 767px) {
    body {
      margin: 0;
    }
    .header {
      height: calc((2rem) + 1rem);
    }
    .logo, .toggle {
      display: none;
    }
    .nav-content {
      width: 100%;
    }
    .nav-content {
      display: flex;
      flex-direction: row;
      column-gap: 10rem;
      justify-content: space-between;
    }
    .menu, .span {
      display: none;
    }
    .namie{
      display: flex;
      align-items: center;
    }
    .nav-content img {
      width: 32px;
      height: 32px;
      margin-right: .5rem;
      margin-bottom: 0;
      align-items: center;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    ul {
      display: flex;
    }
    li {
      margin: 0 .25rem;
    }
    li {
      padding: .5rem .8rem;
      border-radius: .25rem;
    }
    li:hover {
      background-color: var(--dark-yellow-color);
      color: var(--white-color);
    }
    .active {
      color: var(--white-color);
    }
    .active:hover {
      /* background-color: var(--dark-yellow-color); */
      color: var(--white-color);
    }
  }
  @media screen and (min-width: 1024px) {
    .nav {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .home-text{
    min-height: 100vh;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .subtitle{
    letter-spacing: 2px;
    color: var(--dark-yellow-color);
    font-weight: 600;
    margin-bottom: .5em;
  }
  .title{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var();
    margin-bottom: 1rem;
  }
  .title span{
    font-weight: 600;
    color: var(--dark-yellow-color);
  }
    .description{
      line-height: 1.5rem;
      color: var(--white-color);
      margin-bottom:  2rem;
    }
    .btn{
      display: flex;
      gap: 1rem;
    }
     button{
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 2px;
      padding: 1rem 2rem;
      outline: none;
      background-color: var(--dark-yellow-color);
      border: 2px solid var(--dark-yellow-color);
      color: var(--white-color);
      border-radius: 10px;
      transition: 0.3s ease-in-out;
      cursor: pointer;
    }
    button:hover{
      /* background-color: var(--first-color); */
      color: var(--black-color);
    }
    .home_img{
      display: grid;
      place-items: center;
    }
    .home_img img{
      width: min(25rem,90%);
      border-radius: 100%;
    }
      .about-container {
       max-width: 1200px;
       display: grid;
       grid-template-columns: repeat(2,1fr);
       align-items: center;
       gap: 5rem;
     }
    .subtitle1 {
      margin-bottom: 1rem;
      color: var(--dark-yellow-color);
      text-transform: capitalize;
      font-weight: 600;
    }
    .about-image{
      justify-self: center;
    }
    .about-image img {
      width: 250px;
      border-radius: 0.5rem;
    }

    @media (width < 750px ){
    .home-text{
      padding: 10rem 1rem 5rem 1rem;
      text-align: center;
      grid-template-columns: repeat(1,1fr);
    }
    .home_img{
      grid-area: 1/1/2/2;
    }
    .btn{
      margin: auto;
    }
    .about-container{
      padding: 10rem 1rem 5rem 1rem;
      text-align: center;
      grid-template-columns: repeat(1, 1fr);
    }
  } 
  @media screen and (min-width: 992px) {
    .grid {
      margin-left: auto;
      margin-right: auto;
    }
  }