@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root{
     /*===== Colores =====*/
  --dark-yellow-color: #ffae00;
  --black-color: #000000;
  --background-color:#0B0C10;
  --dark-blue-color: #070D1F;
  --dark-color-alt: #282B3A;
  --white-color: #E6E7E9;
  --dark-green-color: #14e314;
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --z-fixed: 100;
  --header-hight: 3rem;
}
@media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3.5rem;
      --h2-font-size:2rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
    }
}
*, ::before, ::after {
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  body {  
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
    padding: 0;
    margin: 0;
    direction: ltr;
    background-color: var(--background-color);
    color: var(--white-color);
  }
ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .section-title{
    position: relative;
    font-size: 1.5rem;
    font-weight: 440;
    color: var(--white-color);
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .section-title::after {
    position: absolute;
    content: "";
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--dark-yellow-color);
    animation: line linear 1s infinite;
  }
  
  @keyframes line {
    0% {
      width: 0px;
    }
      20% {
        width: 20px;
      }
      40% {
       width: 30px;
      }
      60% {
        width: 40px;
      }
      80% {
       width: 50px;
      }
      100% {
        width: 70px;
      }
  }
  .grid{
    max-width: 1100px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .header {
    width: 100%;
    height: 3.5rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1.5rem;
    background-color: var(--dark-blue-color);
    z-index: var(--z-fixed);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    color: var(--white-color);
    
  }
  .toggle {
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
    display: block;
  }
  @media screen and (max-width: 767px) {
    .nav {
      position: fixed;
      top: 0;
      right: -100%;
      background-color: var(--dark-blue-color);
      color: var(--white-color);
      width: 60%;
      height: 85vh;
      padding: 1.5rem 0;
      z-index: var(--z-fixed);
      transition: .5s;
    }
  }
  .nav-content {
    height: 100%;
    row-gap: 2rem;
  }
  /* toggle off */
  .menu {
    position: absolute;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--white-color);
    padding: .25rem;
    background-color: var(--dark-color-alt);
    border-radius: 50%;
    cursor: pointer;
  }
  .img1 {
    width: 46px;
    display: flex;
    justify-content: center;
    padding-top: .25rem;
    margin-bottom: .8rem;
    width: 56px;
    height: 56px;
    background-color: var(--dark-yellow-color);
    border-radius: 50%;
    overflow: hidden;
  }
  img {
    width: 46px;
  }
  .name-m {
    display: block;
    color: var(--white-color);
  }
  .span {
    font-size: var(--small-font-size);
  }
  ul {
    align-self: center;
  }
  li {
    margin: 2rem 0;
  }
  a {
    color: var(--white-color);
  }
  .social {
    padding-top: .5rem;
  }
  .social-icon{
    font-size: 1.5rem;
    color: var(--white-color);
    margin-right: 1rem;
  }
  .social-icon:hover {
    color: var(--dark-yellow-color);
  }
  .show{
    left: 0;
  }
  @media screen and (min-width: 768px) {
    body {
      margin: 0;
    }
    .header {
      height: 4rem;
      padding: 0.8rem;
    }
    .logo, .toggle {
      display: none;
    }
    .nav-content {
      width: 100%;
    }
    .nav-content {
      display: flex;
      flex-direction: row;
      column-gap: 10rem;
      justify-content: space-between;
    }
    .menu, .span {
      display: none;
    }
    .namie{
      display: flex;
      align-items: center;
    }
    .nav-content img {
      width: 32px;
      height: 32px;
      margin-right: .5rem;
      margin-bottom: 0;
      align-items: center;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    ul {
      display: flex;
    }
    .lis {
      margin: 0 .25rem;
    }
    .lis {
      padding: .5rem .8rem;
      border-radius: .25rem;
    }
    .lis:hover {
      background-color: var(--dark-yellow-color);
      color: var(--white-color);
    }
    .active {
      color: var(--white-color);
    }
    .active:hover {
      /* background-color: var(--dark-yellow-color); */
      color: var(--white-color);
    }
  }
  @media screen and (min-width: 1024px) {
    .nav {
      margin-left: auto;
      margin-right: auto;
    }
  }
  /* home section */
  /* .home{
    padding: 3rem 0; */
  .home-text{
    min-height: 100vh;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home__data {
    align-self: center;
  }
  .home__title {
    font-size: 2rem;
    letter-spacing: 2.5px;
    /* margin-bottom: 2rem;  */
  }
  .home-title-color {
    color: hsl(120, 84%, 48%);
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .hello{
    letter-spacing: 2px;
    color: var(--white-color);
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: .5em;
  }
    .description{
      color: var(--white-color);
      font-size: 1.1rem;
      font-weight: 200;  
    }
    .btn{
      display: flex;
      gap: 1rem;
    }
    button{
      width: 10rem;
      height: 3rem;
      overflow: hidden;
      cursor: pointer;
      border: 1px solid white;
      background-color: var(--black-color);;
      color: var(--white-color);
      text-transform: uppercase;
      border-radius: 20px;
      transition: all 0.125s ease-in;
      font-weight: 400;
      font-size: 1rem;
      animation: rgbBorder 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
    }
    button {
      border: 2px solid;
      border-color: rgb(255, 0, 0); /* initial color */
      animation: rgbBorder 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
    }
    @keyframes rgbBorder {
      0% {
        border-color: #ff0000;
      }
      20% {
        border-color: #ff8000;
      }
      40% {
        border-color: #ffff00;
      }
      60% {
        border-color: #00ff00;
      }
      80% {
        border-color: #0000ff;
      }
      100% {
        border-color: #ff0000;
      }
    }
    button:hover{
      background-color: transparent;
      color: var(--dark-green-color);
  }
    .home_img{
      display: grid;
      place-items: center;
    }
    .home_img img{
      width: min(22rem,90%);
      /* filter: drop-shadow(0px 0px 5px rgb(7, 247, 255)); */
      border-radius: 50%;
      box-shadow: 0px 0px 20px rgb(7, 247, 255);
      object-fit: initial;
    }
    /* about section */
   
    .about {
      padding: 5rem;
      }
  
  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
  }
  
  .aboutt-image {
    flex: 1;
    max-width: 400px;
    margin-right: 40px;
  }
  
  .aboutt-image img {
    width: 72%;
    height: auto;
    border-radius: 50%;
    justify-self: center;
     box-shadow: 0px 4px 25px rgb(8, 211, 225);
    /* filter: drop-shadow(0px 1px 5px rgb(200, 217, 255)); */
  
    /* box-shadow: 0 10px 20px rgb(255, 255, 255); */
  }
  
  .about-text {
    flex: 1;
    max-width: 600px;
  }
  
  .about-text h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #506a83;
  }
  
  .namme {
    color: #3498db;
  }
  
  .about-text p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #807f7f;
  }
  
  
  .about-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #0470f3;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 400;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .about-button:hover {
    background-color: #2f00ff;
  }
    .sp::after{
      content: '';
      font-size: 2rem;
      margin-bottom: 2rem;
      letter-spacing: 2px;
      color: rgb(70, 207, 20);
      animation-name: text;
      animation-duration: 1200ms;
      animation-iteration-count:infinite;
    }
    @keyframes text {
      0% {content: "D";}
      10% {content: "De";}
      20% {content: "Dev";}
      30% {content: "Deve";}
      40% {content: "Devel";}
      50% {content: "Develo";}
      60% {content: "Develop";}
      70% {content: "Develope";}
      80% {content: "Developer.";}
      90% {content: "Developer.";}
      100% {content: "Developer..";}
    }
    .nm::after{
      content: '';
      font-size: 2rem;
      margin-bottom: 2rem;
      letter-spacing: 2px;
      color: rgb(70, 207, 20);
      animation-name: name;
      animation-duration: 1200ms;
      animation-iteration-count:infinite;
    }
    @keyframes name {
      0% {content: "M";}
      10% {content: "Ma";}
      20% {content: "Man";}
      50% {content: "Mani";}
      80% {content: "Manis";}
      100% {content: "Manish";}
    } 
    /*  Skills Section  */
    .skills-section {
      padding: 7rem 0;
    
    }
    .skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
   gap: 2.8rem; 
  column-gap: 1rem;
  
}

.skill-item {
  background-color: #14151B;
  border-radius: 0.5rem;
  position: relative;
  padding: 0.5rem 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  /* box-shadow: 0px 4px 25px rgba(255, 255, 255, 0.15); */
  border: 1px solid #889798;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: slideIn 0.5s ease-out forwards;
  opacity: 0;
  
}

.skill-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.699);
}

.skill-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.skill-name {
  font-weight: 600;
  color: #333;
}

.skill-level {
  color: #4a90e2;
  font-weight: 300;
}

.skill-bar {
  height: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  background-color: #4a90e2;
  border-radius: 5px;
  transition: width 1s ease-in-out;
  width: 0;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skill-item:nth-child(1) {
  animation-delay: 0.1s;
}
.skill-item:nth-child(2) {
  animation-delay: 0.2s;
}
.skill-item:nth-child(3) {
  animation-delay: 0.3s;
}
.skill-item:nth-child(4) {
  animation-delay: 0.4s;
}
.skill-item:nth-child(5) {
  animation-delay: 0.5s;
}
.skill-item:nth-child(6) {
  animation-delay: 0.6s;
}
.skill-item:nth-child(7) {
  animation-delay: 0.7s;
}
.skill-item:nth-child(8) {
  animation-delay: 0.8s;
}


@media (max-width: 768px) {
  .skills-section {
    padding: 30px;
  }

  .section-title {
    font-size: 2rem;
  }

  .skills-container {
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
  }
}

.skills__subtitle {
  margin-bottom: 1rem;
  color: #07f7ff;
  font-weight: 500;
  font-size: 1.5em;
}
.skills__text {
  margin-bottom: 2rem;
  font-size: 1em;
  font-weight: 400;
  max-width: 540px;
  word-break: break-word;

}
   
    #resimg{
      margin-left: 6rem;
    }

    /* work section */
    .works{
      padding: 3rem 0;
      background-color: #14151B;
      border:1px solid var(--white-color);
      border-radius: 5px;
    }
.works-container {
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.work {
  height: 15rem;
  padding: 20px;
  position: relative;
  border: 1px solid #07f7ff;
  background-color: #000000;
  text-align: center;
  border-radius: 15px;
  transition: trnsform 0.3s;
  transition: all 0.3s ease-in-out;
  /* animation: rgbBorder 3s infinite cubic-bezier(0.4, 0, 0.2, 1); */
}
.work:hover {
    transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      transform: scale(1.05);
  }
.view-detail {
  display: none;
  position: absolute;
  bottom: 10px;
  background-color: transparent;
  color: var(--white-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  width: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-detail {
  display: none;
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
  padding: 5px 10px;
  width: 88%;
}
.work:hover .view-detail {
  display: block;
  transform: translateY(-30px);
  font-size: 1rem;
  font-weight: 300;
  color: var(--white-color);
}
.work:hover i{
  opacity: 0;
  transform: scale(0);
}
.work:hover h2, .work:hover p {
  transform: translateY(-30px);
}
  .work h2 {
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 500;
  }
  .work p{
    font-size: 1rem;
    font-weight: 300;
  }
  .work i{
    font-size: 40px;
    color: #07f7ff;
    margin-bottom: 10px;
  }


  /*  Project Section */
  .project{
    padding: 4rem 0;
    background-color: #14151B;
    /* border:1px solid var(--white-color); */
    border-radius: 5px;
  
  }
  /* Project Grid */
  .project-content {
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    
  }
  
  /* Project Card */
  .card {
    background:  #252a44;
    border-radius: 1rem;
    overflow: hidden;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  }
  
  .card-image {
    position: relative;
    height: 200px;
    overflow: hidden;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: transform 0.5s ease;
  }
  
  .card:hover .card-image img {
    transform: scale(1.1);
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
  }
  
  .card:hover .image-overlay {
    opacity: 0;
  }
  
  .card-content {
    padding: 1.5rem;
  }
  
  .card-title {
    font-size: 1.25rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
  }
  
  .card-description {
    color: #c0c7ca;
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }
  
  /* Tags */
  .tech-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .tech-tags span {
    padding: 0.25rem 0.75rem;
    background-color: #f5f5f5;
    color: #455a64;
    border-radius: 1rem;
    font-size: 0.75rem;
    font-weight: 500;
  }
  
  /* Project Links */
  .card-links {
    display: flex;
    gap: 1rem;
  }
  
  .btnn {
    padding: 0.5rem 1rem;
    background-color: #1976d2;
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  
  .btnn:hover {
    background-color: #c9b5d6;
  }

/* resume section */

  .resume-section {
    max-width: 100%;
    width: 1024px;
    margin: 3rem auto;
    /* background: linear-gradient(135deg, #1c1e26, #14151b); */
    background-color: #14151B;
    /* border:1px solid var(--white-color); */
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 5rem;
    text-align: center;
}

.resume-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  justify-content: center;
  padding: 2rem 1rem;
  margin-top: 0;
}

.resume-info {
    flex: 1;
    min-width: 320px;
}

h2 {
    color: var(--dark-yellow-color);
    font-size: 2.8em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-size: 1.2em;
    color: #ddd;
    margin-bottom: 20px;
}

.download-btn {
    display: inline-block;
    background: var(--dark-yellow-color);
    color: #000;
    padding: 14px 28px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(255, 223, 0, 0.4);
}

.download-btn:hover {
    background: var(--white-color);
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(255, 223, 0, 0.6);
}




  /* contact section */
  .contact-section{
    padding: 3rem 0;
  }
  .contact{
    max-width: 1200px;
    align-items: center;
    gap: 2.5rem;
    background-color: #14151B;
    padding: 3rem;
  }
  .contact__input {
    width: 100%;
    font-size: .898em;
    font-weight: 600;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--black-color);
    outline: none;
    margin-bottom: 2rem;
  }
  .form {
    width: 360px;
  }
  .contact {
    justify-items: center;
  }
  .contact-button{
    position: relative;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: var(--white-color);
    color: var(--black-color);
    transition: all 0.125s ease-in;
    border: 1.5px solid;
    outline: none;
    margin-bottom: 2rem;
    cursor: pointer;
    animation: rgbBorder 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-button:hover{
    background-color: var(--dark-yellow-color);
    color: var(--white-color);
  }
  .contact-button::after{
    position: absolute;
    background-color: rgb(101, 10, 10);
    left: 0;
    right: 0;
  }
  /* footer section */
.footer {
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    padding: 2rem 0;
    text-align: center;
}
.footer-container {
  max-width: 1026px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 5rem;
}
.footer-contact{
  justify-content: center;

}
.footer-contact a{
  font-size: 1.2rem;
  font-weight: 300;
  justify-content: center;
}
.footer-contact i{
   color: #07f7ff;
   font-size: 1.2rem;
}
.footer-about h3{
  font-size: 1.2rem;
  font-weight: 400;
}
.footer-contact h3{
  font-size: 1.2rem;
  font-weight: 400;
}
.footer-about p{
  font-size: 1rem;
  font-weight: 300;
}
.footer-logo{
  display: flex;
  align-items: center;
}
.footer-logo h2{
  font-size: 1.5rem;
  font-weight: 300;
}
.footer-logo .line {
  display: inline-block;
  height: 100px; 
  border-left: 2px solid var(--white-color); 
  margin-left: 10px; 
  vertical-align: middle;
}
.footer-bottom {
    margin-top: 1rem;
    border-top: 1px solid #444;
    padding-top: 1rem;
}
.footer-bottom p{
  font-size: 1rem;
  font-weight: 300;
}
.social{
  font-size: 1.5rem;
animation: social 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes social {
  0% {
    color: #4d9395;
  }
  20% {
   color:  #ff0000;
  }
  40% {
   color: #fff200;
  }
  60% {
    color:  #ffa200;
  }
    80% {
    color: #00ff00;
  }
  100% {
   color: #07f7ff;
  }
}

/* media query all devices  */
  @media (width < 770px ){
    .home-text{
      padding: 10rem 1rem 4rem 1rem;
      text-align: center;
      grid-template-columns: repeat(1,1fr);
    }
    .home_img{
      grid-area: 1/1/2/2;
    }
    .btn{
      margin: auto;
    }
    home-title-color {
      color: hsl(120, 84%, 48%);
      font-weight: 400;
      font-size: 1rem;
    }
    .home__title {
      font-size: 1.7rem;
      letter-spacing: 2.5px;
      margin-bottom: 2rem;
    }
    .hello{
      letter-spacing: 2px;
      color: var(--white-color);
      font-weight: 300;
      font-size: 2rem;
    }
    button{
      cursor: pointer;
      border-radius: 20px;
      transition: all 0.125s ease-in;
      border: 1px solid var(--dark-yellow-color);
      color: var(--white-color);
      &:hover{
      background-color: transparent;
    }
  }
    .works{
      padding: 1rem;
    }
    .works-container{
      grid-template-columns: repeat(1,1fr);
      gap: 1.5;
    }
    #resimg {
      max-width: 80%;
      height: 300;
      display: block;
      align-items: center;
      margin: 0 auto;
    }
    #resim{
      align-items: center;
      margin: 0 auto;
      display: block;
      max-width: 80%;
    }
    .work{
      width: 100%;
    }
    .contact{
      background-color: #14151B;
      padding: 3rem;
    }
   .form{
    width: 300px;
   }
   .footer-container{
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    gap: 2rem;
   }
   .footer-contact a{
    font-size: 1.2rem;
    font-weight: 400;
   }
   .footer-logo .line{
    display: none;
   }
   .footer-logo{
    display: none;
   }
  }
  @media screen and (min-width: 992px) {
    .grid {
      margin-left: auto;
      margin-right: auto;
    }
  } 
/* Responsive Design */
@media (max-width: 1024px) {
  .resume-section {
      padding: 4rem;
  }
}

@media (max-width: 768px) {
  .resume-section {
      padding: 3rem;
  }

  .resume-content {
      grid-template-columns: 1fr;
      text-align: center;
  }
}

@media (max-width: 480px) {
  .resume-section {
      padding: 2rem;
  }

  .download-btn {
      padding: 12px 24px;
      font-size: 1em;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .portfolio-title {
      font-size: 2rem;
  }
  
  .project-content {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Slightly smaller columns for smaller screens */
      gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  body {
      padding: 1rem 0.5rem;
  }
  
  .portfolio-title {
      font-size: 1.75rem;
  }
  
  .card-links {
      flex-direction: column;
  }
  
  .btnn {
      text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .aboutt-image {
    margin-right: 0;
    margin-bottom: 30px;
    max-width: 100%;
  }

  .about-text {
    max-width: 100%;
  }

  .section-title {
    font-size: 2rem;
  }

  .about-text h3 {
    font-size: 1.8rem;
  }

  .about-text p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .section-title {
    font-size: 1.8rem;
  }

  .about-text h3 {
    font-size: 1.5rem;
  }

  .about {
    padding: 60px 0;
  }
}

/* .section-title {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  }
  
  .section-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 4px;
    background-color: #4a90e2;
    border-radius: 2px;
    } */